.App {
  text-align: center;
}

.ReposButtons {
  position: relative;
  margin: 10px;
  padding: 6px;
  border-radius: 10px;
  width: 800px;
  height: 70px;
  background-color: rgba(219, 218, 203, 0.705);
}


.ReposStars {
  position: relative;
    left: 85%;
    top: -15%;
}

.ReposUpdate {
  position: relative;
  left: 79%;
  top: 23%;
}

.ReposUrl {
  position: relative;
  top: -3%;
  left: 1%;
}